.cart-page-container {
  background-color: #fff;
  width: 100%;
  align-self: flex-start;
  height: 100vh;
  /* height: fit-content; */
  /* margin: 80px; */
}
.mg-top {
  margin-top: 0.5rem;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table th {
  text-align: left;
  padding: 10px;
  background-color: #1e453e;
  color: #aaa;
}
table td {
  padding: 10px 10px;
}
td img {
  width: 120px;
  height: 120px;
  margin-right: 10px;
}
.cart-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.cart-item-description {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.quantity-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quantity-container button {
  margin: 4px;
}

.total-price-div {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.total-price-div table {
  border-top: 4px solid #1e453e;
  border-bottom: 4px solid #1e453e;
  width: 100%;
  max-width: 420px;
}

th:last-child {
  text-align: right;
}
td:last-child {
  text-align: right;
}
.cart-button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart-button-div button {
  margin-right: 5px;
}

.button-primary-cartlist {
  background-color: #1e453e;
  color: #f5f5f5;
  padding: 0.4rem 0.8rem;
  border: 1px solid #1e453e;
  cursor: pointer;
}
.button-secondary-cartlist {
  background-color: #f5f5f5;
  color: #1e453e;
  padding: 0.4rem 0.8rem;
  border: 1px solid #1e453e;
  cursor: pointer;
}
.confirm-button-container {
  display: flex;
  justify-content: flex-end;
}
