.emptycart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: var(--secondary-color);
}

.emptycart-container a {
  text-decoration: none;
}
.emptycart-header-container {
  font-weight: bold;
  font-size: xx-large;
  color: var(--primary-color);
}
