.Top-Nav-Bar-Container {
  grid-column: 1/6;
  position: sticky;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 110px;
  background-color: #f8f9fc;
  z-index: 10;
}
.brand-logo-container {
  /* background-color: yellow; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.brand-logo-container a {
  /* text-decoration: none;
  padding: 0;
  margin: 0; */
}

.user-detail-container {
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;

  align-items: center;
  height: 100%;
}

/* .user-detail-container img {
  width: 0px;
  padding: 1.5rem;
} */

.brand-logo {
  margin-right: 5px;
  width: 60px;
  padding: 0.1rem;
  cursor: pointer;
}

/* with media queries */
/* .brand-logo {
  width: 50px;
  padding: 0.5rem;
} */

.menu-div-container {
  position: absolute;
  z-index: 20;
  width: 300px;
  height: fit-content;
  top: 90px;
  right: 30px;
  border-radius: 10px;

  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
}
.menu-div-container > div {
  /* width: 100%; */
  /* background-color: #f8f9fc; */
  background-color: #1e453e;
  padding: 1.5rem 0;
  text-align: center;
  border: 1px solid #aaa;
}

.categories-list {
  margin-top: 20px;
  margin-bottom: 0px;
  border-top: 2px solid #aaa;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.menu-div-container a {
  text-decoration: none;
  color: #fff;
}

.categories-list > a {
  color: #1e453e;
  padding: 0.5rem 0rem;
}
.menu-div-container span {
  color: #fff;
}

.icon-badge-container {
  position: relative;
}
.icon-badge-number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -6.5px;
  right: 0px;
  background-color: #b91c1c;
  color: #fff;
  width: 19px;
  height: 19px;
  border-radius: 50%;
}
.logout-button {
  color: #fff;
  background-color: #1e453e;
  outline: none;
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

.fieldsetDivContainerTopNav {
  width: 100%;
}

.fieldsetDivContainerTopNav div {
  background-color: white;
  width: 100%;
  padding: 0.5rem 0;
}

.fieldsetDivContainerTopNav label {
  margin-left: 4px;
  color: #1e453e;
}

.filter-categories-div {
  display: none;
}

.topnav-reset {
  padding: 0.4rem 0.8rem;
  margin: 6px auto;
  width: 80px;
  border-radius: 2px;
  font-weight: bold;
  border: 2px solid #1e453e;
  background-color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .brand-logo {
    width: 50px;
    padding: 0.3rem;
  }
  .filter-categories-div {
    display: block;
  }
}
