.Top-Nav-Bar-Container {
  position: sticky;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 110px;
  background-color: #f8f9fc;
  /* z-index: 10; */
}
.brand-logo-container {
  /* background-color: yellow; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.brand-logo-container.img {
}

.user-detail-container {
  /* background-color: yellow; */
  display: flex;
  /* justify-content: center; */
  /* align-content: space-around; */
  height: 100%;
}

.user-detail-container img {
  width: 40px;
  padding: 1rem;
}
