.Top-Nav-Bar-Container {
  grid-column: 1/6;
  position: sticky;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 110px;
  background-color: #f8f9fc;
  z-index: 10;
}
.brand-logo-container {
  /* background-color: yellow; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.brand-logo-container a {
  /* text-decoration: none;
  padding: 0;
  margin: 0; */
}

.user-detail-container {
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;

  align-items: center;
  height: 100%;
}

/* .user-detail-container img {
  width: 0px;
  padding: 1.5rem;
} */

.brand-logo {
  margin-right: 5px;
  width: 60px;
  padding: 0.1rem;
}

/* with media queries */
/* .brand-logo {
  width: 50px;
  padding: 0.5rem;
} */

@media screen and (max-width: 768px) {
  .brand-logo {
    width: 50px;
    padding: 0.3rem;
  }
}
