.main-container {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  grid-column: 2/6;
  background-color: #f0faf6;
  min-height: 100vh;
  max-height: 100%;
}

@media screen and (max-width: 768px) {
  .main-container {
    grid-column: 1/6;
  }
}
