:root {
  --primary-color: #1e453e;
  --secondary-color: #f0faf6;
  --grey: #aaa;
  --white: #fff;
  --lightred: #fecaca;
  --darkred: #b91c1c;
  --lightgreen: #a7f3d0;
  --darkgreen: #047857;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-container {
  display: grid;
  grid-template-columns: 250px 1fr 1fr 1fr 1fr;
  grid-template-rows: 110px auto;
}
